<div>
    <form [formGroup]="roundForm">
        <div formArrayName="roundInputs"
            *ngFor="let round of roundInputs.controls; let roundCount=index">
            <div [formGroupName]="roundCount">

                <!-- Round number -->
                <div class="form-group">
                    <label attr.for="{{'round_number' + roundCount}}">Round Number: </label>
                    <span id="{{'round_number' + roundCount}}"> {{roundCount+1}}</span>
                </div>

                <!-- 9 or 18 hole selection -->
                <div class="form-group">
                    <label>Round Selection: </label>
                    <div>
                        <label attr.for="{{'nineHoles' + roundCount}}">
                            <input type="radio"
                            id="{{'nineHoles' + roundCount}}"
                            value="9"
                            formControlName="roundSelection">
                            9 Holes
                        </label>
                    </div>
                    <div>
                        <label attr.for="{{'eighteenHoles' + roundCount}}">
                            <input type="radio"
                            id="{{'eighteenHoles' + roundCount}}"
                            value="18" 
                            formControlName="roundSelection">
                            18 Holes
                        </label>
                    </div>
                </div>


                <!-- round score input -->
                <div class="form-group">
                    <label attr.for="{{'userRoundScore' + roundCount}}">Round Score: </label>
                    <input id="{{'userRoundScore' + roundCount}}" type="number" formControlName="userRoundScore">
                    <br>
                    <span *ngIf="round.get('userRoundScore')?.errors?.['invalidForm']" style="font-weight: bold; color: red;">Enter in a round of at least {{round.get('roundSelection')?.value === '18' ? '18' : '9'}}</span>
                </div>

                <!-- course rating input -->
                <div class="form-group">
                    <label attr.for="{{'courseRating' + roundCount}}">Course Rating: </label>
                    <input id="{{'courseRating' + roundCount}}" type="number" formControlName="courseRating">
                </div>

                <!-- slope rating input -->
                <div class="form-group">
                    <label attr.for="{{'slopeRating' + roundCount}}">Slope Rating: </label>
                    <input id="{{'slopeRating' + roundCount}}" type="number" formControlName="slopeRating">
                </div>

                <!-- Round Sum -->
                <div>
                    Score Differential: 
                    <span *ngFor="let total of roundTotal; let sumCount = index">
                        <!-- used to prevent multiple sums showing for a single round -->
                        <span *ngIf="roundCount === sumCount">
                            {{total}}
                        </span>
                    </span>
                </div>

            </div>

            <br>
            
        </div>

        <button (click)='removeRound()'>Remove Last Round</button>

        <br>
        <br>
        <button (click)='resetAllRounds()'>Reset Form</button>

        <br>
        <br>
        <button (click)='addRound()'>Add Round</button>

        <br>
        <br>

        <button (click)='calculateHandicapBtnClick()'
            [disabled]="calcBtnDisabled || !roundForm.valid" >
            Calculate Handicap
        </button>

    </form>

    <br>
    
    <div>
        <p *ngIf="!calcBtnDisabled && handicapIndex !== 0">{{recalcHandicapMsg}}</p>
        <p>Your Handicap Index: <span>{{handicapIndex}}</span> </p>
    </div>

</div>
