<div>
    <form #handicapCalcForm="ngForm">

        <div class="form-group">
            <label for="round_number">Round Number: </label>
            <span id="round_number"> 1</span>
        </div>

        <div class="form-group">
            <label for="eighteenHole_score">18 Hole Score</label>
            <input id="eighteenHole_score" type="number" name="eighteenHole_score"
                [(ngModel)]="userHandicapRounds.eighteenHole_score"
                #eighteenHoleRoundField="ngModel"
                [class.field-error]="handicapCalcForm.submitted && eighteenHoleRoundField.invalid"
                min="18"
                required >
            <div [hidden]="!handicapCalcForm.submitted || eighteenHoleRoundField.valid"
                class="alert alert-danger">
                Enter a score of at LEAST 18
            </div>
        </div>

        <div class="form-group">
            <label for="nineHole_score">9 Hole Score</label>
            <input id='nineHole_score' type="number" name="nineHole_score"
                [(ngModel)]="userHandicapRounds.nineHole_score"
                #nineHoleRoundField="ngModel"
                [class.field-error]="handicapCalcForm.submitted && nineHoleRoundField.invalid"
                min="9"
                required >
            <div [hidden]="!handicapCalcForm.submitted || eighteenHoleRoundField.valid"
                class="alert alert-danger">
                Enter a score of at LEAST 9
            </div>
            <br>
            Handicap Form Submitted?: {{handicapCalcForm.submitted}}
        </div>

        <br>

        <!-- button needs to stay within form for validation to fire -->
        <button (click)='calculateHandicapBtnClick()'>Calculate Handicap</button>

    </form>

    <br>

    <h3>{{userHandicapRounds | json}}</h3>

    <br>

<!-- 
    <button (click) = 'addRowOnBtnClick()'>Add Row</button>
    <button (click) = 'deleteRowOnBtnClick()' >Delete Row</button> -->

</div>